.root {
    margin: auto;
    width: 85%;
    margin-top: 5rem;
}

.container {
    padding: 16px;
}
.NB{
    background-color:#FFC;
    border: 1px solid #FFCC00;
    border-left: 10px solid rgb(255, 208, 0);

    font-family: Montserrat, sans-serif;
    font-size: 1.1rem;
    margin-top: 2em;
    /* margin-bottom: 100px; */
    border-radius: 2px;

}