html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  margin:auto;
}
.AppContent{
  max-width:1920px;
  margin:auto;

}
.material-icons.md-36 { font-size: 36px; }
.material-icons.green { color:#49aa9d  }
.MuiButton-iconSizeLarge > *:firsh_child { font-size: 36px; }
.fab{
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.fb-root{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width:50px;
  height: 50px;
}
/*Primary color (green)*/
/* #49aa9d */
/*Secondary color*/
/*#28384C*/




